@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

html{
  background-color: #f1f1f1;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;	
}
body{
    margin: 0;
    padding: 0;
    /*background: #34495e; /*#0984e3*/
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.233),rgba(0,0,0,0.233)), url(sat.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
} 

.box{
    max-width: 500px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background: rgba(229, 229, 229, 0.75);
    border-radius: 25px;
    box-shadow: 5px 5px 15px;
}

h1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 42px;
}

h6{
    text-align: center;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #575151;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    border-color: #303030;


}
.box button[type = "submit"]{
    border: 0;
    background: #51CBCE;
    display: block;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
    float: left;
    max-width: 150px;
    
}
.box button[type = "submit"]:hover{
    background: #48B6B9;
}

.box button[type = "register"]{
    border: 0;
    background: #696969;
    display: block;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: #FFFFFF;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
    float: right;
    max-width: 150px;
    
}
.box button[type = "register"]:hover{
    background: #4d4c4c;
}


#forgot{
    color: #303030;
}

#forgot:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: -webkit-right;
}

.scrollable {
    height: 400px;
    overflow: scroll;
}


#myTable{
    width:100%;
    border-collapse:collapse;
    }
    #HeadRow{
    background:#004C2E;
    color:white;
    font-weight:bold;
    }
    #myTable td{
    padding:5px;
    border:1px solid black;
    text-align:left;
    }
    .optionsDiv {
    padding-bottom:10px;
    font-weight:bold;
    }
    #selectField{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 30px;
    width: 200px;
    color:white;
    background-color: #004C2E;
    }
    .odd{
    background:#CCFFEB;
    }
    .even{
    background:#99FFD6;
    }

@media screen and (min-width: 28.75em) {
    .box {
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transform:  translate(-50%, -50%);
        background: rgba(229, 229, 229, 0.75);
        border-radius: 25px;
        box-shadow: 5px 5px 10px;
    }

    .box input[type = "text"],.box input[type = "password"]{
        border: 0;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid #575151;
        padding: 14px 10px;
        outline: none;
        color: rgb(0, 0, 0);
        border-radius: 20px;
        transition: 0.25s;
    }
    h1{
        font-size: 36px;
    }

    .box button[type = "submit"] , .box button[type = "register"]{
        min-width: 100px;     
    }
      }